
body {
  background: url("./intro-photo.jpeg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.show {
  display: block;
}

.hide {
  display: none;
}
/* f91b1b */
.navbar {
  background-color: #ffd622;
  max-width: 800px;
  margin: auto;
  border-radius: 5px;
}

/* .navbar-brand {
  margin: auto;
} */

.return-form {
  background-color: #f91b1b;
  border-color: #ad0d0d;
  color: white;
  cursor: pointer;
  /* margin: auto; */
}


.submit-build {
  background-color: #f91b1b;
  border-color: #ad0d0d;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}

.user-diet-preference {
  margin: auto;
}

.dietary-url-builder {
  height: 260px;
  border-radius: 5px;
  background: #e7e6d6;
  box-shadow: 1px 1px 50px #000;
}

.recipe-card {
  border: 3px solid grey;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 5px;
  background: #e7e6d6;
}

.content-body {
  height: 260px;
  border-radius: 5px;
  background: #e7e6d6;
  box-shadow: 1px 1px 50px #000;
  color: #670A0A;
  margin:auto;
}


.card-body {
  text-align: center;
}

.card-text {
  list-style-type: none;
  padding-left: 0px;
}

.nutrient-data button {
  background-color: #f91b1b;
}

.navigation-buttons {
  margin-bottom: 15px;
  margin-top: 15px;
}

.navigation-buttons button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width:25%;
}
@media (min-width: 425px) {
  .js-query {
    width: 275px;
  }
}

@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .user-diet-preference {
    max-width: 600px;
  }
  .content-body {
    max-width: 660px;
  }

  .js-query {
    width: 600px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
