.show {
  display: block;
}

.hide {
  display: none;
}

.navbar {
  background-color: #cabb48;
}

.submit-build {
  background-color: cyan;
  cursor: pointer;
}

.dietary-url-builder {
  border: 3px dotted grey;
  height: 260px;
  border-radius: 5px;
  background: #e8cd9a;
  box-shadow: 1px 1px 50px #000;
}

.recipe-card {
  border: 3px solid grey;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.content-body {
  height: 260px;
  border-radius: 5px;
  background: #e8cd9a;
  box-shadow: 1px 1px 50px #000;
}


.card-body {
  text-align: center;
}

.card-text {
  list-style-type: none;
  padding-left: 0px;
}

@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .user-diet-preference {
    max-width: 600px;
  }
  .content-body {
    max-width: 600px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
